body {
    background-color: #e1e8f0;
}

/*
Opening page formatting
*/

.welcome {
    font-family: 'Cinzel', serif;
    text-shadow: 1px 2px 1px #000000;
}

#preferences_container {
    height: 40vh;
    width: 90vw;
}

.theme_container {
    background-color: #6ed3cf;
    color: white;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 15%;
    -moz-box-shadow: 2px 10px 5px #000000;
    -webkit-box-shadow: 2px 10px 5px #000000;
    box-shadow: 2px 10px 5px #000000;
    border-radius: 2%;
}

.row_buttons_theme {
    padding: 4% 2%;
}

.disney_button {
    font-family: 'Tangerine', cursive;
    color: white;
}

.btn.disney_button {
    background: #9068be;
}

.candidates_button {
    font-family: 'Cinzel', serif;
    color: white;
}

.btn.candidates_button {
    background: #e62739;
}

/*
 Level setting buttons
 */
.level_container {
    -moz-box-shadow: 10px 10px 5px #8a8a8a;
    -webkit-box-shadow: 10px 10px 5px #8a8a8a;
    box-shadow: 10px 10px 5px #8a8a8a;
    border-radius: 20%;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    padding-top: 5%;
}

.row_buttons_level {
    margin-top: 15%;
    margin-left: 2%;
}

.level_button {
    margin-right: 2%;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active {
    color: #33a6cc;
    border-color: #33a6cc;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/*
Animations
*/
.removeThemes {
    -webkit-animation: removeThemes 3.364s 1 ease-out;
    -moz-animation: removeThemes 3.364s 1 ease-out;
    -o-animation: removeThemes 3.364s 1 ease-out;
}

@-webkit-keyframes removeThemes {
    from {
        -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    }
    to {
        -webkit-transform: rotate(360deg) scale(0) skew(1deg) translate(-41px);
    }
}

@-moz-keyframes removeThemes {
    from {
        -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    }
    to {
        -moz-transform: rotate(360deg) scale(0) skew(1deg) translate(-41px);
    }
}

@-o-keyframes removeThemes {
    from {
        -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    }
    to {
        -o-transform: rotate(360deg) scale(0) skew(1deg) translate(-41px);
    }
}

.enterLevels {
    -webkit-animation: enterLevels 1.4728s 1 ease-in-out;
    -moz-animation: enterLevels 1.4728s 1 ease-in-out;
    -o-animation: enterLevels 1.4728s 1 ease-in-out;
}

@-webkit-keyframes enterLevels {
    from {
        -webkit-transform: rotate(0deg) scale(1.5) skew(180deg) translate(300px);
    }
    to {
        -webkit-transform: rotate(0deg) scale(1.05) skew(180deg) translate(-4px);
    }
}

@-moz-keyframes enterLevels {
    from {
        -moz-transform: rotate(0deg) scale(1.5) skew(180deg) translate(300px);
    }
    to {
        -moz-transform: rotate(0deg) scale(1.05) skew(180deg) translate(-4px);
    }
}

@-o-keyframes enterLevels {
    from {
        -o-transform: rotate(0deg) scale(1.5) skew(180deg) translate(300px);
    }
    to {
        -o-transform: rotate(0deg) scale(1.05) skew(180deg) translate(-4px);
    }
}

.remove_level_container {
    -webkit-animation: removeLevelsContainer 1.0023s 1 ease-out;
    -moz-animation: removeLevelsContainer 1.0023s 1 ease-out;
    -o-animation: removeLevelsContainer 1.0023s 1 ease-out;
}

@-webkit-keyframes removeLevelsContainer {
    from {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
    }
    to {
        -webkit-transform: rotate(0deg) scale(0) skew(-91deg) translate(-300px);
    }
}

@-moz-keyframes removeLevelsContainer {
    from {
        -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
    }
    to {
        -moz-transform: rotate(0deg) scale(0) skew(-91deg) translate(-300px);
    }
}

@-o-keyframes removeLevels {
    from {
        -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
    }
    to {
        -o-transform: rotate(0deg) scale(0) skew(-91deg) translate(-300px);
    }
}

/* Hide elements */

.hide_this {
    display: none;
}

/*
Theme specifications
*/

.disney_phone_background {
    background: url(themes/disney/backgrounds/disney_castle_phone.jpg) no-repeat;
    background-position: 25% 25%;
}

.disney_ipad_background {
    background-image: url(themes/disney/backgrounds/disney_background1.jpg);
    background-repeat: no-repeat;
    background-position: 25% 20%;
}

.disney_background {
    background-image: url(themes/disney/backgrounds/disney_background1.jpg);
    background-repeat: no-repeat;
}

.candidate_background {
    background-image: url(themes/candidates/podium_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.candidate_ipad_background {
    background-image: url(themes/candidates/america_background_ipad.jpg);
    background-repeat: no-repeat;
    background-size: 768px 1024px;
}

.candidate_iphone_background {
    background-image: url(themes/candidates/presidental_ipad_background.jpg);
    background-repeat: no-repeat;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*
    Part 1- Setting Preferences
    */
    #preferences_container {
        margin-top: 5vh;
    }

    .level_button {
        font-size: 1.2em;
    }
}

/*
Loading game
*/

.game-container {
    height: 80vh;
    width: 100vw;
}

.board_container {
    border: 1px solid pink;
    height: 60vh;
}

.stats_container {
    border: 1px solid purple;
    height: 20vh;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*
    Part 1 - setting the preferences
    */
    #preferences_container {
        height: 60vh;
        width: 90vw;
    }

    .theme_container {
        padding-top: 5%;
        padding-bottom: 15%;
    }

    .theme_button {
        font-size: 2em;
        height: 300%;
    }

    .preference_heading {
        font-size: 2em;
    }

    .level_container {
    }

    .row_buttons_level {
        margin-top: 5%;
        margin-left: 10%;
    }

    .level_button {
        font-size: 2em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}