body {
    width: 100vw;
    height: 100vh;
    background-image: url(images/podium1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*opening buttons*/
.buttons-container {
    align-content: center;
    position: absolute;
    top: 55%;
    left: 35%;
    width: 100%;

}

.button {
    background-color: darkblue;
    color: white;
    height: 15%;
    width: 15%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.2em;
    border-radius: 50%;
}

a[href*="#openModal"] {
    text-decoration: none;
    color: white;
}
/*Modal Styling*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}
/*Footer Formatting*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 1px solid #888;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

nav a:hover {
    background-color: #fff;
    color: #444;
    cursor: default;
}





/*game page formatting */
/*
header {
    width: 100%;
    height: 25%;
    background-image: url(images/america_banner2.jpg);
    background-repeat: no-repeat;
    background-color: #EBEFF0;
    background-size: 100% auto;
    overflow: hidden;
    display: block;
}

.game-title {
    color: white;
    position: static;
    font-family: 'Lobster', cursive;
    margin-left: 2%;
}

.nav-bar {
    font-family: 'Cardo', serif;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin: 4%;
}

.nav-bar a:link {
    text-decoration: none;
    color: white;
}

.nav-bar a:visited {
    color: lightblue;
}

.nav-bar a:hover {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}
*/
/* STATS SECTION FORMATTING */
/*
#stats_container {
    background-color: floralwhite;
    color: dimgray;
    width: 13%;
    height: auto;
    border-radius: 10%;
    padding-bottom: 2%;
    margin-top: 2%;
    float: left;
    display: block;
    opacity: 0.90;
    text-align: center;

    .value {
    text-align: center;
}
}
*/
/* body formatting */

#body-container {
    background-image: url(images/25b29318.png);
    background-repeat: repeat;
    opacity: 0.9;
    height: 95%;
    width: 98%;
    border: 1px white solid;
    border-radius: 10%;
    display: inline-block;
    box-shadow: 5px 5px 2px #888888;
    overflow: hidden;
}

/*game area formatting*/
.game-area {
    width: auto;
}

.row {
    display: none;
}

.card {
    border: 1px solid black;
    border-radius: 10%;
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    background-color: white;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    box-shadow: 3px 3px 1px #888888;

}
.front {
    position: absolute;
}

.back {
    position: absolute;
    background-color: white;
}

/*stats container formatting*/
#stats_container {
    background-color: transparent;
    color: white;
    box-shadow: 2px 2px 2px #888888;
    width: 8%;
    height: auto;
    border-radius: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    float: left;
    display: block;
    text-align: center;
}

.reset-button {
    background-color: white;
    color: black;
}

.label {
    display: inline-block;
    color: white;
}

.value {
    display: inline-block;
}
/*

#game-area {
    overflow: hidden;
    width: auto;
    height: 100%;
    padding-right: 1%;
    position: relative;
    align-content: center;
}

.card {
    border: 1px solid black;
    border-radius: 10%;
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    background-color: white;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    box-shadow: 3px 3px 1px #888888;

}

.front {
    position: absolute;

}

.back {
    position: absolute;
    background-color: white;

}
*/
/*MATCH*/
/*
.match_class {
    transition-delay: 2s;
    visibility: hidden;
}
*/

/*ABOUT PAGE STYLING */

.about-heading {
    font-family: 'Lobster', cursive;
}

#about-container {
    width: 90%;
    border: 1px black solid;
    margin: 0 5%;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 20%;
    overflow: hidden;
    background-color: white;
}

#pic-me {
    height: auto;
    width: 80%;
    display: inline;

}

.about-content {
    font-family: 'Cardo', serif;
    display: inline;
    font-size: 1.3em;
}

#portfolio-link a {
    color: pink;
}

/*Popup

#my_popup {
    border: 1px solid black;
    border-radius: 20%;
    overflow: hidden;
    height: auto;
    width: auto;
    box-shadow: 10px 10px 5px #888888;
    background-color: blue;
    opacity: 0.2;

}

.quote-text {
    color: red;
    position: fixed;
    top:20%;
    left: 20%;
}

.my_popup_close {
    position: fixed;
    right: 20%;

}

*/

/*win
.winning-div {
    display: none;
}

#winning {
    color: white;
    transition-duration: 10s;
    animation-name: zoomOutLeft;
}
*/

/*POPUP. WORK IN PROGRESS */
/*
#my_popup {
    position: absolute;
    top: 0;
    left: 20%;
    border: 1px black solid;
    background-color: blue;
}

.quote-text {
    position: absolute;
    top: 6%;
    left: 30%;
    z-index: 5;
}

.candidate-pic {
    height: 150px;
    width: 150px;
    border: 1px black solid;
    position: absolute;
    top: 70%;
    right: 92%;
    background-color: white;
}
*/